@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');


*{
    margin: 0;
    box-sizing: 0;
}

body {
    text-decoration: none;
    padding: 0;
    background-color: rgb(141, 76, 2);
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    
}

header {
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

    object-fit: cover;
    height:300px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.list1 {
    padding: 1px;
    border-radius: 2px;
    display: flex;
}

.list1 li {
    text-align: center;
    background-color: rgb(81, 116, 46);
    list-style: none;
    padding: 5px;
    border-style: solid;
    margin-right: 10px;
    border-radius: 10PX;
}

li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    font-size: 20px;
}

.list2{
    padding: 0;
    display: flex;
    list-style: none;
    border: 60px;
    background-color: rgb(141, 76, 2);
    margin: 0;
}

.list2 li {
    text-align: center;
    background-color: rgb(81, 116, 46);
    padding: 10px;
    border-style: solid;
    font-size: 20px;
    width: 150px;
    border-color: rgb(1, 41, 48);
    position: relative;
}

.list2 li a{
    color: black;
}

.cob{
    top: 0;
}

.cob ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: none;
   
}

.cob ul li {
right: 11px;
width: 95px;
}


.jab{
    top: 0;
}

.jab ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: none;
   
}

.jab ul li{
    right: 10px;
width: 95px;
}

 li:hover ul { 
    display: block;
    position: absolute;
} 

.list2 .pes {
display: flex;
    width: 100%
}

.quisa{
    width: 100%;
    height: 100%;
    text-align: center;
}

p {
    font-size: 20px;
}

.news{
    display: flex;
  
}
.news img {
    width:500px;
    border:15px solid rgb(81, 116, 46); 
    box-shadow: 5px 5px 5px 5px;
    margin: 25px;
}

.nov{
    font-size: xx-large;
    text-align: center;
}

.titulo{
    font-size: 50px;
    margin-left: 20px;
}
.titulo2{
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
}
hr{
    border: 2px solid rgb(1, 41, 48);
}

.popu{
    font-size: 40px;
    text-align: center;
}

.lares{
    display: flex;
}

.lares img{
    width:500px;
    border:15px solid rgb(81, 116, 46); 
    box-shadow: 5px 5px 5px 5px;
    margin: 25px;
}

.icon{
    font-size: 50px;
    color: red;
    text-align: center;
   background-color: black;
   margin: 0 520px 0 520px;
   border: 5px solid rgb(1, 41, 48);;
}

.h2{
    margin: auto;
    width: 38%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.74);
    text-shadow: 1px 3px 2px rgb(0, 0, 0);
    filter: opacity(90%);
    position: absolute;
    top: 1730px;
    left: 535px;
    text-align: center
}

.textAlert{ /*DIV DO TEXTO*/
        width: 40%;
        display: flex;
    text-align: center;
    height: 800px;
    margin: 0 auto;
    /*background-image: url(imagens/incendio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;*/

}

.incendio{
filter: blur(4px);
position: relative;
width: 100%;
}
.text-img{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}

footer {
    background-color: #028202;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
footer img{
    width: 50px;
    height: 70px;
    margin: 30px 10px;
}

.footer-img {
    display: flex;
    margin: 0 15px;
    align-items: center;
    flex-direction: column;
}
.copy{
    display: flex;
    justify-content: end;
    font-size: 15px;
}

.rep{
    font-size: 15px;
}
.local {
    display: block;
    font-size: 20px;
    margin: 0 0 0 20px;
    text-align: start;
}
.map {
    width: 500px;
    height: 300px;
}
.pagamento{

    display: grid;
    align-items: center;
    margin: 0px 60px 0px 0px;
    justify-content: center;
    font-size: 20px;
    align-content: center;

}
.pagamento img{
    width: 150px;
    height: 50px;
    margin: 5px;
}
.boleto {
    background-color: white;
}

.footer-text{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.footer-text a{
    margin: 5px;
}

.nov{
    font-family: 'Jacquarda Bastarda 9';
    font-size: 50px;
}

.tartaprin {
    background-color: rgb(81, 116, 46);
    padding: 0;
}

.tartaprin p{
    font-size: 25px;
}